{% extends "base.html" %}

{% block title %}Error | Bank of Irvine{% endblock %}

{% block main %}
<div class="container bg-info p-4" id="home">
    <div class="row mt-3">
        <div class="col-sm-2"></div>
        <div class="col-sm-8  bg-white" style="border-right: 2px solid #007bff; ">
            <p class="text-primary pl-3" style="font-size: 2rem;font-weight: bold; margin-left: 5rem;">Whoops! Something
                went wrong</p>
            <div class="text ml-3 " style="width: 80%;height: 50px;padding: 0.05rem;">
                <a href="{{ url_for('home') }}" class="btn btn-info btn-block mt-1 mb-5" style="margin-left: 3rem;"
                    role="button">Go Back</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}