{% extends "base.html" %}

{% block title %}Home | Bank of Irvine{% endblock %}

{% block main %}
<div class="container bg-info p-4" id="home">
	<div class="row mt-3">
		<div class="col-sm-12 col-md-8 pl-4">
			<p class="text-white pl-3" style="font-size: 2rem;font-weight: bold;">Welcome to the Bank of Irvine</p>
			<div class="text ml-3 " style="width: 80%;height: 50px;padding: 0.05rem;">
				<p class="text-white" style="font-size: 1.3rem"><a class="text-white" id="register" href="{{ url_for('register')}}">New Here?
						Register</a></p>
			</div>
		</div>
		<div class="col-sm-12 col-md-4 rounded shadow-sm bg-white" style="border-right: 3px solid #00c3ff; ">
			<p class="text-info mt-4 ml-3" style="font-weight: bold;font-size: 1.3rem;">SIGN IN</p>
			<form action="/" method="POST" class="col-12 pb-3 " id="formsignin">
				<div class="form-group">
					<label class="text-dark">Username</label>
					<input type="text" name="username" id="username" class="form-control" placeholder="Username"
						maxlength="127" required>
				</div>
				<div class="form-group">
					<label class="text-dark">Password</label>
					<input type="password" name="password" id="password" class="form-control" placeholder="Password"
						maxlength="127" required>
				</div>
				<button id="signin" type="submit" class="btn btn-info btn-block mt-1 mb-5 "
					style="width: 80%;margin:0 auto;">Submit</button>
				{% if nfeedback %}
				<p class="text-danger">{{ nfeedback }}</p>
				{% endif %}
				{% if pfeedback %}
				<p class="text-success">{{ pfeedback }}</p>
				{% endif %}
			</form>

		</div>
	</div>
</div>
{% endblock %}