{% extends "base.html" %}

{% block title %}Register | Bank of Irvine{% endblock %}

{% block main %}

<div class="container bg-info p-4" id="accountregister">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8  bg-white" style="border-right: 2px solid #007bff; ">
      <p class="text-info mt-3 ml-3" style="font-weight: bold;font-size: 1.5rem; text-align: center;">ACCOUNT
        REGISTRATION</p>
      {% if feedback %}
      <p class="text-danger">{{ feedback }}</p>
      {% endif %}
      <form action="/register" method="POST" class="col-12 pb-3 " id="formregister">
        <div class="form-group">
          <label class="text-dark">Name</label>
          <input type="text" name="name" id="name" class="form-control" placeholder="Enter your name" maxlength="127"
            required>
        </div>
        <div class="form-group">
          <label class="text-dark">Username</label>
          <input type="text" name="username" id="uname" class="form-control" placeholder="Enter your username"
            maxlength="127" required>
        </div>
        <div class="form-group">
          <label class="text-dark">Password</label>
          <input type="password" name="password" id="password" class="form-control" placeholder="Enter password"
            maxlength="127" required>
        </div>
        <div class="form-group">
          <label class="text-dark">Confirm password</label>
          <input type="password" name="cpassword" id="cpassword" class="form-control" placeholder="Re-enter password"
            maxlength="127" required>
        </div>
        <div class="form-group">
          <label class="text-dark">Opening Balance</label>
          <input type="number" step='0.01' name="ibalance" id="ibalance" class="form-control" min="1"
            placeholder="Enter initial balance" maxlength="127" required>
        </div>
        <div class="btn-group" style="text-align: center;">
          <button id="register" type="submit" class="btn btn-info btn-block mt-3 mb-5 "
            style="width: 80px;margin-left:1rem; ">Submit</button>
            <a href="{{ url_for('home') }}" class="btn btn-info mt-3" role="button"
            style="width: 80px; height: 38px; margin-left: 30rem; ">Cancel </a>
        </div>

      </form>
    </div>
  </div>
</div>

{% endblock %}