{% extends "base.html" %}

{% block title %}Register | Bank of Irvine{% endblock %}

{% block main %}

<div class="container bg-info" id="accountregister">
  <div class="col-sm  bg-white" style="border-right: 3px solid #007bff; ">
    <p class="text-info mt-4 ml-3" style="font-weight: bold;font-size: 1.3rem;">ACCOUNT REGISTRATION</p>

    <div class="form-group">
      <label class="text-dark">Name</label>
      <input type="text" name="name" id="name" class="form-control" placeholder="Name">
    </div>
    <div class="form-group">
      <label class="text-dark">Username</label>
      <input type="text" name="name" id="uname" class="form-control" placeholder="Name">
    </div>
    <div class="form-group">
      <label class="text-dark">Password</label>
      <input type="password" name="pass" id="pass" class="form-control" placeholder="Password">
    </div>
    <div class="form-group">
      <label class="text-dark">Confirm password</label>
      <input type="password" name="cpass" id="cpass" class="form-control" placeholder="Confirm password">
    </div>
    <div class="form-group">
      <label class="text-dark">Initial balance</label>
      <input type="text" name="ibalance" id="ibalance" class="form-control" placeholder="Initial balance">
    </div>

    <button onclick="Register()" id="register" type="submit" class="btn btn-info btn-block mt-1 mb-5 "
      style="width: 80px;margin:0 auto;">Submit</button>
  </div>
</div>

<div class="container pt-4" id="manageaccount" style="display: none">
  <div class="row">
    <div class="col-3">
      <div class="back text-center">
        <p>BACK TO HOME</p>
      </div>
    </div>
    <div class="col-6">
      <div class="logo">
        <p>SMART BANKING</p>
      </div>
    </div>
    <div class="col-3">
      <div class="suport text-center">

        <button class="btn btn-outline-primary" onclick="Logout()">LOGOUT</button>

      </div>
    </div>
  </div>
</div>

<!-- copy ends-->

{% endblock %}