{% extends "base.html" %}

{% block title %}Register | Bank of Irvine{% endblock %}

{% block main %}   
    <!-- copied from index.html-->

<!--    <div class="container bg-primary p-4" id="loginaccount">-->
    <div class="container bg-primary" id="accountregister">
<!--      <div class="col-sm-12 col-md-4 rounded shadow-sm bg-white" style="border-right: 3px solid #007bff; ">-->
<!--      <div class="col-sm rounded bg-white" style="border-right: 3px solid #007bff; ">-->
      <div class="col-sm  bg-white" style="border-right: 3px solid #007bff; ">
        <p class="text-primary mt-4 ml-3" style="font-weight: bold;font-size: 1.3rem;">ACCOUNT REGISTRATION</p>

          <div class="row justify-content-around">
            <div class="form-group">
              <label class="text-dark">First name</label>
              <input type="text" name="fname" id="fname" class="form-control" placeholder="First name">
            </div>
            <div class="form-group">
              <label class="text-dark">Last name</label>
              <input type="text" name="lname" id="lname" class="form-control" placeholder="Last name">
            </div>
          </div>

          <div class="row justify-content-around">
            <div class="form-group">
              <label class="text-dark">Username</label>
              <input type="text" name="uname" id="uname" class="form-control" placeholder="Username">
            </div>
            <div class="form-group">
              <label class="text-dark">Initial balance</label>
              <input type="text" name="ibalance" id="ibalance" class="form-control" placeholder="Initial balance">
            </div>
          </div>
          <div class="row justify-content-around">
            <div class="form-group">
              <label class="text-dark">Password</label>
              <input type="password" name="pass" id="pass" class="form-control" placeholder="Password">
            </div>
            <div class="form-group">
              <label class="text-dark">Confirm password</label>
              <input type="password" name="cpass" id="cpass" class="form-control" placeholder="Confirm password">
            </div>
          </div>


<!--          <div class="form-group">-->
<!--            <label class="text-dark">User name</label>-->
<!--            <input type="text" name="uname" id="uname" class="form-control" placeholder="Username">-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label class="text-dark">Password</label>-->
<!--            <input type="password" name="pass" id="pass" class="form-control" placeholder="Password">-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label class="text-dark">Confirm password</label>-->
<!--            <input type="password" name="cpass" id="cpass" class="form-control" placeholder="Confirm password">-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label class="text-dark">Initial balance</label>-->
<!--            <input type="text" name="ibalance" id="ibalance" class="form-control" placeholder="Initial balance">-->
<!--          </div>-->

<!--        testing some possible layout here-->
<!--        <div class="row justify-content-center">-->
<!--        <div class="row-sm-8">-->
<!--          <div class="form-group">-->
<!--            <label class="text-dark">Username</label>-->
<!--            <input type="text" name="uname" id="uname" class="form-control" placeholder="Username">-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row justify-content-center">-->
<!--          <div class="form-group">-->
<!--            <label class="text-dark">Password</label>-->
<!--            <input type="password" name="pass" id="pass" class="form-control" placeholder="Password">-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row justify-content-around">-->
<!--          <label class="text-dark">Confirm password</label>-->
<!--          <input type="password" name="cpass" id="cpass" class="form-control" placeholder="Confirm password">-->
<!--        </div>-->
<!--        <div class="row justify-content-around">-->
<!--          <label class="text-dark">Initial balance</label>-->
<!--          <input type="text" name="ibalance" id="ibalance" class="form-control" placeholder="Initial balance">-->
<!--        </div>-->



        <button onclick="Register()" id="register" type="submit" class="btn btn-primary btn-block mt-1 mb-5 " style="width: 80%;margin:0 auto;">Submit</button>
      </div>
    </div>

    <div class="container pt-4" id="manageaccount" style="display: none">
      <div class="row">
        <div class="col-3">
          <div class="back text-center">
            <p>BACK TO HOME</p>
          </div>
        </div>
        <div class="col-6">
          <div class="logo">
            <p >SMART BANKING</p>
          </div>
        </div>
        <div class="col-3">
          <div class="suport text-center">

            <button class="btn btn-outline-primary" onclick="Logout()">LOGOUT</button>

          </div>
        </div>
      </div>
    </div>


    <div class="container " style="background: #efefef; " >
      <div class="row ">
        <div class="col-sm-12 col-md-4 " id="content" style="display: none;">

          <div class="box_content_left  p-2  mt-4 ">

            <div class="infomation p-3 shadow-sm p-3 bg-white rounded" style="border-left: 3px solid #007bff;">

              <div class="img_left rounded-circle" style="width: 100px; height: 100px;float: left;">
                <img class="rounded-circle" src="1.png" width="100%" height="100%">
              </div>
              <div class="text_right pt-3" style="width: 53%;float: right">
                <p style="font-size: 1.5rem; font-weight: bold;margin: 0" id="infoname"></p>
                <p style="font-size: 0.8rem" id="joindate"></p>
              </div>
              <div class="img_left mt-3" style="width: 60%;float: left;clear: left;">
                <p style="font-weight: bold;margin: 0">Package: Sliver</p>
                <p style="font-size: 0.8rem" id="country"></p>
              </div>
              <div class="img_left mt-3" style="width: 37%;float: right;">
                <!-- <div class="btn btn-primary mt-1" style="width: 100%">Change</div> -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm" onclick="Change()">Change</button>

              </div>
            </div>


            <div class="account shadow-sm p-3 bg-white rounded">
              <p class="text1 text-primary">Infomation</p>
              <div class="info_acount">
                <p style="float: left;font-size: 1rem;font-weight: bold;">Balance</p>
                <p style="float: right;font-size: 1rem;font-weight: bold;">$30</p>
              </div>
              <div class="info_acount" style="clear: left;">
                <p style="float: left;font-size: 1rem;font-weight: bold;">Type Account</p>
                <p style="float: right;font-size: 1rem;font-weight: bold;" class="text-primary" id="typemoney"></p>
              </div>

              <div class="line mt-1 mb-1"></div>
              <div class="total ">
                <p class="mt-3" style="float: left;font-weight: bold;font-size: 1.3rem">TOTAL</p>
                <p style="float: right;font-weight: bold;font-size: 2.5rem;" class="text-primary"  id="balance"></p>
              </div>
              <div class="buttondetail mt-3" style="width: 84%;margin: 0 auto;">
                <div class="btn btn-primary" style="width: 100%">Detail Infomation</div>
              </div>

            </div>

          </div>
        </div>

        <div class="col-sm-12 col-md-5 p-2  mt-4" id="content2" style="display: none;">
          <div class="payment p-3 shadow-sm p-3 mb-4 bg-white rounded">

            <p style="font-weight: bold;margin-top: 1rem;font-size: 1.5rem" class="text-primary">PAYMENT</p>
            <div class="addmoney">
              <p style="margin-bottom: 0.5rem;">Nạp tiền</p>
              <div class="input-group mb-2 float-left" style="width: 75%;">
                <div class="input-group-prepend">
                  <div class="input-group-text">$</div>
                </div>
                <input type="number" name="balance" id="Depositinput" value="" class="form-control" id="inlineFormInputGroup" placeholder="Nhập số tiền cần nạp" >

              </div>

              <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target=".bd-example-modal-sm" onclick="Deposit()">Nạp tiền</button>
            </div>


            <div class="addmoney">
              <p style="margin-bottom: 0.5rem;clear: left;">Rút tiền</p>
              <div class="input-group mb-2 float-left" style="width: 75%;">
                <div class="input-group-prepend">
                  <div class="input-group-text">$</div>
                </div>
                <input type="number" name="balance" id="Withdrawalinput" value="" class="form-control" id="inlineFormInputGroup" placeholder="Nhập số tiền cần rút" >

              </div>
              <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target=".bd-example-modal-sm" onclick="Withdrawal()">Rút tiền</button>
            </div>

            <div class="exmoney mt-2">
              <p class="mt-3 " style="margin-bottom: 0.5rem;clear: left;">Chuyển tiền</p>


              <div class="numbercard">
                <input type="number" name="balance" id="accountnumber" value="" class="form-control" id="inlineFormInputGroup" placeholder="Nhập số tài khoản" >
              </div>
              <div class="money">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">$</div>
                  </div>
                  <input type="number" name="balance" id="moneynumber" value="" class="form-control" id="inlineFormInputGroup" placeholder="Nhập số tài khoản" >
                </div>
              </div>

              <button type="button" class="btn btn-primary float-right " data-toggle="modal" data-target=".bd-example-modal-sm" onclick="Transfers()" >Chuyển tiền</button>

            </div>

          </div>

        </div>

        <div class="col-sm-12 col-md-3 p-2  mt-4" id="content3" style="display: none;">
          <div class="payment  shadow-sm  mb-4 bg-white " style="border-radius: 8px !important;">
            <div class="boxx" style="width: 100%; height: 150px;">
              <div class="card">
                <div class="card__front card__part">
                  <img class="card__front-square card__square" src="https://image.ibb.co/cZeFjx/little_square.png">

                  <p class="card_numer">**** **** **** 6258</p>
                  <div class="card__space-75">
                    <span class="card__label">Card holder</span>
                    <p class="card__info" id="infoname2"></p>
                  </div>
                  <div class="card__space-25">
                    <span class="card__label">Expires</span>
                    <p class="card__info">10/25</p>
                  </div>
                </div>



              </div>


            </div>

            <p class="text-success" id="stt" style="font-size: 90%"> </p>
          </div>
        </div>
      </div>
    </div>


    <!-- <script type="text/javascript">
        document.getElementById("kq").innerHTML='$ 0';
            function getInfo(){
                var tien = 2;
                var balance = document.getElementById("balance").value;
                    balance = parseInt(balance);
                if (balance) {
                    tien=tien+balance;
                    info = "$ "+tien;
                    document.getElementById("kq").innerHTML=info;
                    document.getElementById("stt").innerHTML="Bạn đã nạp thành công số tiền "+balance+ "$ vào tài khoản. Số dư hiện tại "+info;
                }
            }
        </script> -->
    <div class="modal fade bd-example-modal-sm mt-5" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" >
      <div class="modal-dialog modal-sm">
        <div class="modal-content" style="border-bottom: 0.5rem solid #007bff !important;">
          <div class="iconpopup " style="margin: 0 auto; width: 27%;height: 100%; margin-top: 20%;">
            <img id="notick" src="tick.png" width="100%" >
            <img id="errortick" src="ticknot.png" width="100%" style="display: none;" >
            <img id="changeimg" src="defender.png" width="100%" style="display: none;">
          </div>
          <div id="no" class=" iconpopup mt-4" style="margin: 0 auto; width: 80%;margin-bottom: 10%;">
            <p class="text-center" style="font-weight: bold;margin-bottom: 2%">NOTIFICATION</p>
            <p class="text-center" id="notification"></p>

          </div>
          <div id="changepass" class=" iconpopup mt-4" style="margin: 0 auto; width: 80%;margin-bottom: 10%;display: none">
            <p class="text-center" style="font-weight: bold;margin-bottom: 2%">CHANGE PASSWORD</p>
            <p class="mt-3" style="margin-bottom: 2%;">Enter current password</p>
            <input type="password" name="pass" id="passcurrent" class="form-control " >
            <p class="mt-1" style="margin-bottom: 2%;">Enter new password</p>
            <input type="password" name="pass" id="passnew" class="form-control " >
            <p class="mt-1" style="margin-bottom: 2%;">Enter repeat new password</p>
            <input type="password" name="pass" id="passnewrepeat" class="form-control " >
            <button class="btn btn-primary float-right mt-3" onclick="Changepassword()">Change</button>
          </div>
        </div>
      </div>
    </div>






    <script language="Javascript" src="js.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- copy ends-->

    {% endblock %}